/* Google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.product-card .logo-cart img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}