[class]{/* تمام اون هایی که کلس دارند */
    font-size: 10px;
}

header [class]{
    color: red;
}

.visit a:visited {/* سایت هایی که قبلا دیده شده و به رنگ بنفش نمایش داده میشد  */
    color: #ccc;

}

.visit a:link {/* سایت هایی که دیده نشده  */
    color:rgb(71, 107, 78)
}