[class]{/* تمام اون هایی که کلس دارند */
    font-size: 10px;
}

header [class]{
    color: red;
}

.visit a:visited {/* سایت هایی که قبلا دیده شده و به رنگ بنفش نمایش داده میشد  */
    color: #ccc;

}

.visit a:link {/* سایت هایی که دیده نشده  */
    color:rgb(71, 107, 78)
}

input:focus {/* وفتی روش کلیک بکنم  */
    background-color: springgreen;
}

span:active {/* زمانی که روی متن سلکت میکنیم رنگش عوض میشه  */
    color: blueviolet;
}

h4:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}