*{
    font-family: b nazanin;
}

.p1{
    direction: rtl;
}
.p2{
    direction: rtl;
    text-align: center;
}

.p3{ 
    direction: rtl;
    text-align: justify;
}

.p4{
    direction: rtl;
}

.p5{
    direction: rtl;
    text-decoration: underline ;
}

.p6{
    direction: rtl;
    text-indent: 25px;/* خط اول پاگراف را 25 پیکسل به جلو میاره */
}

.p7{
    direction: ltr;
    text-align: center;
    text-transform: capitalize;/* تمام حروف های اول از هر کلمه بزرگ میشود  */
}

.p8{
    letter-spacing: 10px;
}