.a{
    color: brown;
    white-space: normal;
}

.b{
    color: blue;
    white-space: nowrap;
}

.c{
    direction: rtl;
    color: green;
    white-space: pre;/* دقیقا همون جوری که متن داخل ایدتور نوشته شده نمایش داده میشود  */
}