.continre{
    background-color: red;
    width: 50%;
    height: 20px;/* height # 20% */
}

.mather{
    color: brown;
    font-size: 3em;
}

.child{
    color: inherit;/* یعنی برو رنگ والدت شو */
    font-size: inherit;/* یعنی برو از سایز فونت مادر استفاده کن  */
}