div{
    width: 25%;
    height: 100px;
}

.div1{
    background-color: red;
}

.div2{
    background-color: #262626;
}

.div3{
    background-color: #fed330;/*color from site*/
}

.div4{
    background-color: rgb(20, 45, 15);
}